.list-seat {
  position: relative;
  padding: 0 10%;
  margin-left: 10%;

  .info-countdown {
    width: "100%";
    display: flex;
    justify-content: space-between;
    padding: 2% 0;

    .info-theater {
      display: flex;

      .text {
        padding-top: 5px;
        padding-left: 13px;

        .text-time {
          color: #9b9b9b;
          font-size: 13px;
        }
      }
    }

    .count-down {
      text-align: center;

      .time-title {
        font-size: 12px;
        color: #9b9b9b;
      }
    }
  }
}
