@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  overflow: auto !important;
  padding-right: 0px !important;
}
:root {
  --tab-bg-active: #231f20;
  --tab-text-color: #cdc197;
}

.abb {
  width: 300px;
  background-image: url("https://images.unsplash.com/photo-1697807665472-908cfe732b8e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
